body {
    font-family: 'Roboto', sans-serif;
}

input {
    height: 35px;
}

input:focus {
    border: 0px solid #555;
}


.mbot20 {
    margin-bottom: 20px;
}

.top20 {
    margin-top: 20px;
}

thead {
    font-size: larger;
}

.tdata1 {
    font-size: x-large;
    font-weight: bold;
}

.title1 {
    font-size: large;
    font-weight: bold;
}

.title2 {
    font-weight: bold;
    color: #6b6b6b;
}

.title3 {
    font-weight: bold;
}

