body {
    font-family: 'Roboto', sans-serif;
}

.mainpage {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.mainpage {
    font-size: 50px;
}

.nav-link, .navbar-brand{
    text-decoration: none;
    color: black;
}

input {
    height: 35px;
}

input:focus {
    border: 0px solid #555;
}


.mbot20 {
    margin-bottom: 20px;
}

.top20 {
    margin-top: 20px;
}

thead {
    font-size: larger;
}

.tdata1 {
    font-size: x-large;
    font-weight: bold;
}

.title1 {
    font-size: large;
    font-weight: bold;
}

.title2 {
    font-weight: bold;
    color: #6b6b6b;
}

.title3 {
    font-weight: bold;
}

a:hover {
    color: #6b6b6b
}