{% extends "layout.html" %}

{% block title %}
    weather
{% endblock %}

{% block main %}

<body>
    <main>
        <div class="container">
            {% if rain == True %}
                <span class="tdata1">It's raining in {{ location.city }}, {{ location.country }}, {{ location.postcode }} :(</span>
            {% else %}
                <span class="tdata1">It's not raining in {{ location.city }}, {{ location.country }}, {{ location.postcode }} :)</span>
            {% endif %}          
        <div class="row">
            <div class="table-responsive col-md-3 top20">
                <table>
                    <thead>
                        <tr>
                            <th>temp</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="tdata1">{{ weather.temp | int }}C</span> {{weather.main}}</td>
                        </tr>
                        <tr>
                            <td class="title1">some stuff about today</td>
                        </tr>
                        <tr>
                            <td class="title2">average temp in UK is</td>

                        </tr>
                        <tr>
                            <td class="title1">{{ average_temp | int}}C</td>
                        </tr>
                        {% if wet_cities_size > 0 %}
                            <tr>
                                <td><span class="title2">it rained in</span> <span class="title1">{{ wet_cities_size }} cities</span></td>
                            </tr>
                            {% if rain == True %}
                            <tr>
                                <td class="title2">some cities without rain</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td><span class="title2">some cities </span><span class="title1">with rain</span> </td>
                            </tr>                       
                            {% endif %}
                            {% for city in cities %}
                            <tr> 
                                <td><span class="title3">{{ city[0] }}</span>, {{ city[1] }} </td>
                                <td>{{ city[2] }}C</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td class="tdata1">{{ word.word  }}</td>
                        </tr>
                        <tr>
                            <td class="title2">adjective</td>
                        </tr>
                        <tr>
                            <td class="title1">definitions</td>
                        </tr>
                        {# list all definitions
                        {% for definition in word.definitions %}
                        <tr>
                            <td>{{ definition.definition }}</td>
                        </tr>
                        {% endfor %}
                        #}
                    </tbody>
                </table>
                <span class="title1">.</span>{{ word.definitions[0].definition | lower}}<br>
                {% if word.definitions | length > 1 %}
                    <span class="title1">.</span>{{ word.definitions[1].definition | lower }}
                {% endif %}
            </div>
            <div class="table-responsive col-md-3 sec-tables top20 bot20">
                <table>
                    <thead>
                        <tr>
                            <th>cocktail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tdata1">{{ drink.name }}</td>
                        </tr>
                        <tr>
                            <td><span class="title2">category:</span> {{ drink.category }} </td>
                        </tr>
                        <tr>
                            <td><span class="title2">glass:</span> {{ drink.glass }}</td>
                        </tr>
                        <tr>
                            <td class="title1">Ingredients</td>
                        </tr>
                        {% for ingredient, measure in drink.ingredients.items() %}
                            <tr> 
                                <td><span class="title2">{{ ingredient|lower }}:</span> {{ measure }}</td> 
                            </tr>
                        {% endfor %}
                        <tr>
                            <td> {{ drink.instructions }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive col-md-3 top20">
                <table>
                    <thead>
                        {% if pubs | length > 0%}
                        <tr>
                            <th>pubs around you</th>
                        </tr>
                        {% else %}
                        <tr>
                            <th>there are no pubs around you :(</th>
                        </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for pub in pubs %}
                            <tr> 
                                <td class="title3">{{ pub[2] }}</a></td> 
                            </tr>
                            <tr> 
                                <td class="title2"><a href='https://www.google.com/search?q={{pub[10]}}' class="title2">{{ pub[3] }}, {{ pub[4] }}</a></td> 
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <span> </span>
            <div class="table-responsive col-md-3 top20">
                <table>
                    <thead>
                        <tr>
                            <th>random useless fact</th>
                        </tr>
                    </thead>
                </table>
                <span> {{ fact }} </span>
                
                {# 
                <span class="title1 ">thanks for the APIs used</span><br>
                <ul>
                    <li><a href="https://postcodes.io/" class="title2">postcodes.io</a></li>
                    <li><a href="https://www.doogal.co.uk/" class="title2">doogal.co.uk</a></li>
                    <li><a href="https://dictionaryapi.dev/" class="title2">dictionaryapi.dev</a></li>
                    <li><a href="https://thecocktaildb.com/" class="title2">thecocktaildb.com</a></li>
                    <li><a href="https://uselessfacts.jsph.pl/" class="title2">uselessfacts.jsph.pl</a></li>
                    <li><a href="https://openweathermap.org/" class="title2">openweathermap.org</a></li>
                </ul>
                <span class="title1">for the pub data</span>
                <ul>
                    <li><a href="https://www.getthedata.com/open-pubs" class="title2">getthedata.com/open-pubs</a></li>
                </ul>
                #}
                
            </div>
            </div>
            
        </div>

    </div>
    </main>
</body>

{% endblock %}