{% extends "layout.html" %}

{% block title %}
    weather
{% endblock %}

{% block main %}


<body>
    <main>
        <div class="container">
            {% if rain == True %}
            <span class="tdata1">it's raining in UK :(</span>
            {% else %}
            <span class="tdata1">it's not raining in UK :)</span>
            {% endif %}
            <p>check if it's raining in your location or search a random postcode:</p>
            <form action="/weather" method="post">
                <div class="form-group">
                    <input name="postcode" placeholder='{{ random_postcode }}'  type="text">
                    <input type="hidden" name="random-postcode" value="{{ random_postcode }}">
                </div>
                <button class="btn btn-outline-dark mbot20" type="submit">Search</button>
            </form>
        <span class="title2">this is a <a href="https://cs50.harvard.edu/x" style="color: black;">Harvard CS50x</a> final project. </span><br>
        <span class="title2">all APIs and data are used for educational purposes.</span>
        </div>
    </main>
</body>


{% endblock %}
