{% extends "layout.html" %}

{% block title %}
    weather
{% endblock %}

{% block main %}

<body>
    <main>
        {% if rain == True %}
            <div class="alert alert-primary" role="alert">
                It's raining in {{ location.city }}, {{ location.country }}, {{ postcode }} :(
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                It's not raining in {{ location.city }}, {{ location.country }}, {{ postcode }} :)
            </div>
        {% endif %}
        <div class="container">
        <div class="row">
            <div class="table-responsive col-md-3">
                <table>
                    <thead>
                        <tr>
                            <th>temp</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="tdata1">{{ weather.temp | int }}C</span> {{weather.main}}</td>
                        </tr>
                        <tr>
                            <td class="title1">some stuff about today</td>
                        </tr>
                        <tr>
                            <td class="title2">average temp in UK is:</td>

                        </tr>
                        <tr>
                            <td class="title1">{{ average_temp | int}}C</td>
                        </tr>
                        {% if wet_cities_size > 0 %}

                        
                        <tr>
                            <td><span class="title2">it rained in</span> <span class="title1">{{ wet_cities_size }} cities</span></td>
                        </tr>
                        <tr>
                            <td class="title2">some cities without rain</td>
                        </tr>
                        {% for city in cities %}
                        <tr> 
                            <td>{{ city[0] }}, {{ city[1] }} </td>
                            <td>{{ city[2] }}C</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        <tr>
                            <td class="tdata1">{{ word.word | title }}</td>
                        </tr>
                        <tr>
                            <td class="title2">adjective</td>
                        </tr>
                        <tr>
                            <td>Definitions</td>
                        </tr>
                        {# list all definitions
                        {% for definition in word.definitions %}
                        <tr>
                            <td>{{ definition.definition }}</td>
                        </tr>
                        {% endfor %}
                        #}
                    </tbody>
                </table>
                <span class="definition">{{ word.definitions[0].definition }}</span><br>
                {% if word.definitions | length > 1 %}
                <span class="definition">{{ word.definitions[1].definition }}</span>
                {% endif %}
            </div>
            <div class="table-responsive col-md-3">
                <table>
                    <thead>
                        <tr>
                            <th>cocktail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tdata1">{{ drink.name }}</td>
                        </tr>
                        <tr>
                            <td><span class="title2">category:</span> {{ drink.category }} </td>
                        </tr>
                        <tr>
                            <td><span class="title2">glass:</span> {{ drink.glass }}</td>
                        </tr>
                        <tr>
                            <td class="title1">Ingredients</td>
                        </tr>
                        {% for ingredient, measure in drink.ingredients.items() %}
                            <tr> 
                                <td><span class="title2">{{ ingredient|lower }}:</span> {{ measure }}</td> 
                            </tr>
                        {% endfor %}
                        <tr>
                            <td> {{ drink.instructions }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive col-md-3">
                <table>
                    <thead>
                        <tr>
                            <th>pubs around you</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in pubs %}
                            <tr> 
                                <td class="title1">{{ pub[2] }}</td> 
                            </tr>
                            <tr> 
                                <td class="title2">{{ pub[3] }}, {{ pub[4] }}</td> 
                            </tr>
                        {% endfor %}
                </table><br>
                <span >Random useless fact:</span><br>
                <span> {{ fact }} </span>
            </div>
        </div>
    </div>
    </main>
</body>

{% endblock %}